<div class="top-container">
  <nav nz-row nzType="flex" nzJustify="space-between" nzAlign="middle">
    <div nz-col>
      <img src="assets/svg/logo.svg" alt="Video call" width="48" />
    </div>
    <button nz-col nz-button nzType="primary" [routerLink]="['/auth']">
      Sign up / Sign in
    </button>
  </nav>
  <div class="jumbotron-container" nz-row>
    <div class="pic-container" nz-col nzXs="0" nzSm="0" nzMd="0" nzLg="10">
      <img src="assets/svg/coloured-logo.svg" alt="Video call" width="72%" />
    </div>
    <div class="text-container" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="14">
      <p nz-typography>
        <strong>
          Perfect platform to obtain help on your <span>project work</span>
        </strong>
      </p>
      <p>
        Members can also sign on as a service provider instead of as a student
      </p>
      <div>
        <img src="assets/svg/book.svg" alt="Open book" width="24%" />
      </div>
    </div>
  </div>
</div>
<div class="functions-container">
  <div>
    <p nz-typography>
      <strong>
        Why laze?
      </strong>
    </p>
    <p nz-typography>
      Laze offers a great platform for graduates to make money and for student
      with project work to be assisted in their journey.
    </p>
  </div>
  <div
    nz-row
    nzType="flex"
    nzJustify="space-around"
    nzAlign="middle"
    class="roles-container"
  >
    <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8">
      <div nz-row nzType="flex">
        <img
          nz-col
          nzXs="24"
          nzSm="24"
          nzMd="6"
          nzLg="6"
          src="assets/svg/student2.svg"
          alt="Student with backpack"
        />
        <div nz-col nzXs="24" nzSm="24" nzMd="18" nzLg="18" class="role-info">
          <p nz-typography><strong>Student</strong></p>
          <p nz-typography>
            All students can sign up on this platform to engage service
            providers in solving their project issues for a fee.
          </p>
        </div>
      </div>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8">
      <div nz-row nzType="flex" nzJustify="start">
        <img
          nz-col
          nzXs="24"
          nzSm="24"
          nzMd="6"
          nzLg="6"
          src="assets/svg/teacher.svg"
          alt="Teacher"
        />
        <div nz-col nzXs="24" nzSm="24" nzMd="18" nzLg="18" class="role-info">
          <p nz-typography><strong>Service provider</strong></p>
          <p nz-typography>
            Service providers are also on the platform offering stranded
            students help for a fee.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
