<div class="top-container">
  <nav nz-row nzType="flex" nzJustify="space-between" nzAlign="middle">
    <div nz-col>
      <img src="assets/svg/logo.svg" alt="Video call" width="48" />
    </div>
    <button nz-col nz-button nzType="primary" [routerLink]="['/auth']">
      Sign up / Sign in
    </button>
  </nav>
  <div class="jumbotron-container" nz-row>
    <div class="pic-container" nz-col nzXs="0" nzSm="0" nzMd="0" nzLg="10">
      <img src="assets/svg/coloured-logo.svg" alt="Video call" width="72%" />
    </div>
    <div class="text-container" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="14">
      <p nz-typography>
        <strong>
          Perfect platform to obtain help on your <span>project work</span>
        </strong>
      </p>
      <p>
        Members can also sign on as a service provider instead of as a student
      </p>
      <div>
        <img src="assets/svg/book.svg" alt="Open book" width="24%" />
      </div>
    </div>
  </div>
</div>
<div class="functions-container">
  <div>
    <p nz-typography>
      <strong>
        Why laze?
      </strong>
    </p>
    <p nz-typography>
      Laze offers a great platform for graduates to make money and for student
      with project work to be assisted in their journey.
    </p>
  </div>
  <div
    nz-row
    nzType="flex"
    nzJustify="space-around"
    nzAlign="middle"
    class="roles-container"
  >
    <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8">
      <div nz-row nzType="flex">
        <img
          nz-col
          nzXs="24"
          nzSm="24"
          nzMd="6"
          nzLg="6"
          src="assets/svg/student2.svg"
          alt="Student with backpack"
        />
        <div nz-col nzXs="24" nzSm="24" nzMd="18" nzLg="18" class="role-info">
          <p nz-typography><strong>Student</strong></p>
          <p nz-typography>
            All students can sign up on this platform to engage service
            providers in solving their project issues for a fee.
          </p>
        </div>
      </div>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8">
      <div nz-row nzType="flex" nzJustify="start">
        <img
          nz-col
          nzXs="24"
          nzSm="24"
          nzMd="6"
          nzLg="6"
          src="assets/svg/teacher.svg"
          alt="Teacher"
        />
        <div nz-col nzXs="24" nzSm="24" nzMd="18" nzLg="18" class="role-info">
          <p nz-typography><strong>Service provider</strong></p>
          <p nz-typography>
            Service providers are also on the platform offering stranded
            students help for a fee.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th class="functions">Functions</th>
          <th>Student</th>
          <th>Service provider</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="functions">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti
            asperiores, rem quas illum nam voluptatibus eius nemo omnis.
          </td>
          <td>
            <i
              nz-icon
              nzType="check-circle"
              nzTheme="outline"
              [style.color]="'#337357'"
            ></i>
          </td>
          <td>
            <i
              nz-icon
              nzType="close-circle"
              nzTheme="outline"
              [style.color]="'#660000'"
            ></i>
          </td>
        </tr>
        <tr>
          <td class="functions">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti
            asperiores, rem quas illum nam voluptatibus eius nemo omnis.
          </td>
          <td>
            <i
              nz-icon
              nzType="check-circle"
              nzTheme="outline"
              [style.color]="'#337357'"
            ></i>
          </td>
          <td>
            <i
              nz-icon
              nzType="close-circle"
              nzTheme="outline"
              [style.color]="'#660000'"
            ></i>
          </td>
        </tr>
        <tr>
          <td class="functions">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti
            asperiores, rem quas illum nam voluptatibus eius nemo omnis.
          </td>
          <td>
            <i
              nz-icon
              nzType="check-circle"
              nzTheme="outline"
              [style.color]="'#337357'"
            ></i>
          </td>
          <td>
            <i
              nz-icon
              nzType="check-circle"
              nzTheme="outline"
              [style.color]="'#337357'"
            ></i>
          </td>
        </tr>
        <tr>
          <td class="functions">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti
            asperiores, rem quas illum nam voluptatibus eius nemo omnis.
          </td>
          <td>
            <i
              nz-icon
              nzType="close-circle"
              nzTheme="outline"
              [style.color]="'#660000'"
            ></i>
          </td>
          <td>
            <i
              nz-icon
              nzType="check-circle"
              nzTheme="outline"
              [style.color]="'#337357'"
            ></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div
  nz-row
  nzType="flex"
  nzJustify="space-around"
  nzAlign="middle"
  class="newsletter-container"
>
  <div nz-col nzXs="24" nzSm="24" nzMd="10" nzLg="10">
    <p>Start your free trial today</p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo, voluptatem
      corrupti dolorum nisi vero, qui unde ipsum delectus distinctio mollitia
      impedit cumque nesciunt incidunt similique autem voluptatum blanditiis sit
      quo.
    </p>
  </div>
  <div nz-col nzXs="24" nzSm="24" nzMd="10" nzLg="10">
    <nz-form-item>
      <nz-form-control>
        <nz-input-group [nzPrefix]="emailPrefixTemplate">
          <input
            id="email"
            type="email"
            nz-input
            nzSize="large"
            formControlName="email"
            placeholder="Your email"
          />
        </nz-input-group>
        <ng-template #emailPrefixTemplate>
          <i
            nz-icon
            nzType="mail"
            nzTheme="outline"
            [style.font-size]="'24px'"
            [style.margin-top]="'16px'"
          ></i>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
  </div>
</div>
<footer>
  <div nz-row nzType="flex" nzJustify="space-between" class="top">
    <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8">
      <img src="assets/svg/logo.svg" alt="Video call" width="48" />
      <p nz-typography class="top-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos vel
        unde odio, rem nobis mollitia? Maxime nostrum labore.
      </p>
      <div class="icons-container">
        <i nz-icon nzType="instagram" nzTheme="outline"></i>
        <i nz-icon nzType="twitter" nzTheme="outline"></i>
        <i nz-icon nzType="facebook" nzTheme="outline"></i>
      </div>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8">
      <div nz-row nzType="flex" nzJustify="space-between" nzAlign="top">
        <div nz-col>
          <p nz-typography class="list-title">Support</p>
          <p nz-typography class="list-item">Document</p>
          <p nz-typography class="list-item">Guide</p>
          <p nz-typography class="list-item">Pricing</p>
        </div>
        <div nz-col>
          <p nz-typography class="list-title">Company</p>
          <p nz-typography class="list-item">About</p>
          <p nz-typography class="list-item">Contact</p>
          <p nz-typography class="list-item">Features</p>
          <p nz-typography class="list-item">Partner</p>
        </div>
        <div nz-col>
          <p nz-typography class="list-title">Legal</p>
          <p nz-typography class="list-item">Terms</p>
          <p nz-typography class="list-item">Claims</p>
          <p nz-typography class="list-item">Privacy</p>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="bottom">
    <p>
      &copy; Laze. All rights reserved. Made with &hearts; by
      <a href="https://github.com/adzamkomladev" target="_blank">kbee</a>
    </p>
  </div>
</footer>
