.top-container {
  background-color: #f4f4f9;
  padding: 32px;
}

.jumbotron-container > .pic-container {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.jumbotron-container > .pic-container > img {
  display: none;
}

.jumbotron-container > .text-container {
  padding: 5%;
  text-align: center;
}

.jumbotron-container > .text-container > p:nth-of-type(1) {
  font-size: 42px;
  font-weight: bolder;
}

.jumbotron-container > .text-container > p:nth-of-type(2) {
  font-size: 18px;
}

.jumbotron-container > .text-container > p > strong > span {
  color: #337357;
}

.functions-container {
  text-align: center;
  padding: 32px;
}

.functions-container > div > p:nth-of-type(1) {
  font-size: 18px;
  font-weight: bolder;
  text-transform: uppercase;
  color: #337357;
}

.functions-container > div > p:nth-of-type(2) {
  font-size: 18px;
  width: 72%;
  margin: auto;
}

.roles-container {
  margin-top: 36px;
}

.role-info {
  text-align: start;
  margin-bottom: 16px;
}

.role-info > p:nth-of-type(1) {
  font-size: 24px;
  font-weight: bolder;
}

.role-info > p:nth-of-type(2) {
  font-size: 16px;
}

/* media queries */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .top-container {
    height: 100vh;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .role-info {
    padding-left: 12px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .jumbotron-container > .pic-container > img {
    display: block;
    transform: translateY(0px);
    animation: float 3.5s ease-in-out infinite;
  }

  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-14px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  .functions-container > div > p:nth-of-type(2) {
    width: 40%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
