<nz-card>
  <div
    class="top-row"
    nz-row
    nzType="flex"
    nzAlign="middle"
    nzJustify="space-between"
  >
    <div nz-col>
      <span>{{ project.title }}</span>
      <br />
      <span>
        {{ project.owner.fullName || project.owner.username }} &nbsp;&nbsp;
        <a [routerLink]="['main', 'user', project.ownerId]">
          <i nz-icon nzType="select" nzTheme="outline"></i>
        </a>
      </span>
    </div>
    <div nz-col>
      <nz-avatar
        [nzSrc]="
          project.owner.profileImageUrl ||
          'https://agentestudio.com/uploads/ckeditor/pictures/1567/content_user-profile-design-14.jpg'
        "
      ></nz-avatar>
    </div>
  </div>
  <div>
    <p class="price-text">
      <span>{{ project.price || "N/A" }}</span>
      <span>GH₵</span>
    </p>
  </div>
</nz-card>
