:host {
  height: 100vh;
}

nz-header {
  position: fixed;
  width: 100%;
  z-index: 10;
  box-shadow: 0 2px 8px #f0f1f2;
  text-align: center;
  margin-bottom: 18px;
}

nz-header > .logo > img {
  margin-right: 16px;
}

nz-header > .logo > span {
  font-size: larger;
  text-transform: uppercase;
}

nz-header,
nz-footer {
  background: #ffffff;
}

nz-footer {
  line-height: 1.5;
  text-align: center;
}

.main-sider {
  overflow: auto;
  height: 100%;
  position: fixed;
  left: 0;
  width: 100%;
}

nz-sider {
  background: #ffffff;
  margin-top: 18px;
}

nz-sider ul.menu-list,
.inner-content {
  padding-top: 72px;
}

/* .main-sider {
  line-height: 120px;
} */

nz-content {
  background: #fcfdfd;
  padding-top: 42px;
  width: 100%;
}

nz-content.loading {
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
}

nz-content .inner-content {
  padding: 4%;
}

/* media queries */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  nz-header {
    text-align: left;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
