<nz-page-header
  class="site-page-header"
  nzBackIcon
  nzTitle="User"
  nzSubtitle="Details of user"
></nz-page-header>
<div class="top-details" nzType="flex" nzJustify="center" nz-row>
  <nz-avatar
    nz-col
    [nzSize]="260"
    nzXs="16"
    nzSm="8"
    nzMd="8"
    nzLg="8"
    nzXl="6"
    nzSrc="https://agentestudio.com/uploads/ckeditor/pictures/1567/content_user-profile-design-14.jpg"
  ></nz-avatar>
  <div
    class="info-text"
    nz-col
    nzXs="24"
    nzSm="24"
    nzMd="12"
    nzLg="10"
    nzXl="10"
  >
    <span nz-typography>Full name</span>
    <div>
      <i nz-icon nzType="mail" nzTheme="outline"></i>
      <span nz-typography>ddd@dd.com</span>
    </div>
    <p nz-typography>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, recusandae
      nemo qui doloremque omnis possimus magnam impedit temporibus fugiat! Vitae
      maxime dicta nobis eius delectus maiores nostrum dolorum quod natus?
    </p>
  </div>
</div>
<div nz-row>
  <div class="info-card" nz-col nzXs="12" nzSm="8" nzMd="6" nzLg="4" nzXl="5">
    <i nz-icon nzType="phone" nzTheme="outline"></i>
    <div nz-typography>
      <span>Telephone</span><br />
      <span>0202442452</span>
    </div>
  </div>
  <div class="info-card" nz-col nzXs="12" nzSm="8" nzMd="6" nzLg="4" nzXl="5">
    <i nz-icon nzType="user" nzTheme="outline"></i>
    <div nz-typography>
      <span>Age</span><br />
      <span>20yrs</span>
    </div>
  </div>
  <div class="info-card" nz-col nzXs="12" nzSm="8" nzMd="6" nzLg="4" nzXl="5">
    <i nz-icon nzType="safety-certificate" nzTheme="outline"></i>
    <div nz-typography>
      <span>Role</span><br />
      <span>Student</span>
    </div>
  </div>
  <div class="info-card" nz-col nzXs="12" nzSm="8" nzMd="6" nzLg="4" nzXl="5">
    <i nz-icon nzType="tool" nzTheme="outline"></i>
    <div nz-typography>
      <span>5 Projects</span><br />
      <span>Number of projects</span>
    </div>
  </div>
</div>
<div class="bottom-details">
  <nz-tabset>
    <nz-tab [nzTitle]="titleTemplateOne">
      <ng-template #titleTemplateOne>
        <i nz-icon nzType="tool"></i> Projects
      </ng-template>
      All projects
    </nz-tab>
    <nz-tab [nzTitle]="titleTemplateTwo">
      <ng-template #titleTemplateTwo>
        <i nz-icon nzType="edit"></i> Edit profile
      </ng-template>
      <div nz-row nzType="flex" nzJustify="start">
        <laze-edit-user-form
          nz-col
          nzXs="23"
          nzSm="23"
          nzMd="18"
          nzLg="12"
          nzXl="12"
          [errorMessage]="errorMessage"
          [isSaveLoading]="isSaveLoading"
          (submitForm)="onSubmit($event)"
        ></laze-edit-user-form>
      </div>
    </nz-tab>
  </nz-tabset>
</div>
