<nz-page-header
  class="site-page-header"
  nzTitle="User"
  nzSubtitle="Details of user"
></nz-page-header>
<div class="top-details" nzType="flex" nzJustify="center" nz-row>
  <nz-avatar
    nz-col
    [nzSize]="260"
    nzXs="16"
    nzSm="8"
    nzMd="8"
    nzLg="8"
    nzXl="6"
    [nzSrc]="
      selectedUser?.profileImageUrl ||
      'https://agentestudio.com/uploads/ckeditor/pictures/1567/content_user-profile-design-14.jpg'
    "
  ></nz-avatar>
  <div
    class="info-text"
    nz-col
    nzXs="24"
    nzSm="24"
    nzMd="12"
    nzLg="10"
    nzXl="10"
  >
    <span nz-typography>{{ selectedUser?.fullName || 'N/A' }}</span>
    <div>
      <i nz-icon nzType="mail" nzTheme="outline"></i>
      <span nz-typography>{{ selectedUser?.email || 'N/A' }}</span>
    </div>
    <p nz-typography>{{ selectedUser?.careerDetails || 'N/A' }}</p>
  </div>
</div>
<div nz-row>
  <div class="info-card" nz-col nzXs="12" nzSm="8" nzMd="6" nzLg="4" nzXl="5">
    <i nz-icon nzType="phone" nzTheme="outline"></i>
    <div nz-typography>
      <span>Telephone</span><br />
      <span>{{ selectedUser?.telephone || 'N/A' }}</span>
    </div>
  </div>
  <div class="info-card" nz-col nzXs="12" nzSm="8" nzMd="6" nzLg="4" nzXl="5">
    <i nz-icon nzType="user" nzTheme="outline"></i>
    <div nz-typography>
      <span>Age</span><br />
      <span>{{ selectedUser?.dateOfBirth | age }}</span>
    </div>
  </div>
  <div class="info-card" nz-col nzXs="12" nzSm="8" nzMd="6" nzLg="4" nzXl="5">
    <i nz-icon nzType="safety-certificate" nzTheme="outline"></i>
    <div nz-typography>
      <span>Role</span><br />
      <span>{{ selectedUser?.role | titlecase }}</span>
    </div>
  </div>
  <div class="info-card" nz-col nzXs="12" nzSm="8" nzMd="6" nzLg="4" nzXl="5">
    <i nz-icon nzType="tool" nzTheme="outline"></i>
    <div nz-typography>
      <span>Projects</span><br />
      <span>{{ numberOfProjects }} projects</span>
    </div>
  </div>
</div>
<div class="bottom-details">
  <nz-tabset>
    <nz-tab [nzTitle]="titleTemplateOne">
      <ng-template #titleTemplateOne>
        <i nz-icon nzType="tool"></i> Projects
      </ng-template>
      <ng-container
        nz-row
        nzType="flex"
        nzJustify="start"
        *ngIf="allProjects; else noProjectsTemplate"
      >
        <div nz-col nzXs="24" nzSm="24" nzMd="18" nzLg="14" nzXl="14">
          <laze-project-card
            *ngFor="let project of allProjects | slice: 0:2"
            [project]="project"
          ></laze-project-card>
        </div>
        <p *ngIf="isCurrentUser">See all</p>
      </ng-container>
      <ng-template #noProjectsTemplate>
        No projects
      </ng-template>
    </nz-tab>
    <nz-tab *ngIf="isCurrentUser" [nzTitle]="titleTemplateTwo">
      <ng-template #titleTemplateTwo>
        <i nz-icon nzType="edit"></i> Edit profile
      </ng-template>
      <div nz-row nzType="flex" nzJustify="start">
        <laze-edit-user-form
          nz-col
          nzXs="23"
          nzSm="23"
          nzMd="18"
          nzLg="12"
          nzXl="12"
          [errorMessage]="errorMessage"
          [isSaveLoading]="isSaveLoading"
          [user]="selectedUser"
          (submitForm)="onSubmit($event)"
        ></laze-edit-user-form>
      </div>
    </nz-tab>
  </nz-tabset>
</div>
