<nz-page-header
  class="site-page-header"
  nzTitle="Project"
  nzSubtitle="Details of project"
></nz-page-header>

<laze-details-card
  [currentUser]="currentUser"
  [selectedProject]="selectedProject"
  [allUsers]="allUsers"
  (submitForm)="onSubmit($event)"
  [isSaveLoading]="isSaveLoading"
></laze-details-card>

<nz-modal
  [(nzVisible)]="isModalVisible"
  nzTitle="Submit project"
  (nzOnCancel)="onCancel()"
  (nzOnOk)="onSubmitProject()"
  [nzOkLoading]="isModalSaveLoading"
>
  <nz-alert
    class="auth-form-margin"
    *ngIf="errorMessage"
    nzType="error"
    nzCloseable
    nzMessage="Project submission error"
    [nzDescription]="errorMessage"
  ></nz-alert>
  <laze-submit-project-form *ngIf="isModalVisible"></laze-submit-project-form>
</nz-modal>
