<nz-page-header
  class="site-page-header"
  nzBackIcon
  nzTitle="Projects"
  nzSubtitle="All available projects"
>
</nz-page-header>
<div class="new-button-wrapper">
  <button nz-button nzType="primary" (click)="onOpenModal()">
    <i nz-icon nzType="plus"></i> New project
  </button>
</div>
<div nz-row class="project-cards">
  <laze-project-card
    *ngFor="let project of projectsToDisplay"
    nz-col
    nzXs="24"
    nzSm="24"
    nzMd="11"
    nzLg="11"
    nzXl="11"
  ></laze-project-card>
</div>

<nz-modal
  [(nzVisible)]="isModalVisible"
  nzTitle="Create new project"
  (nzOnCancel)="onCancel()"
  (nzOnOk)="onSaveProject()"
  [nzOkLoading]="isSaveLoading"
>
  <nz-alert
    class="auth-form-margin"
    *ngIf="errorMessage"
    nzType="error"
    nzCloseable
    nzMessage="Project creation error"
    [nzDescription]="errorMessage"
  ></nz-alert>
  <laze-project-form *ngIf="isModalVisible"></laze-project-form>
</nz-modal>
