<nz-card
  [nzCover]="coverTemplate"
  [nzActions]="[actionEdit, actionView, actionMore]"
>
  <div class="card-body">
    <h3 typography>
      <strong>{{ user?.username }}</strong>
    </h3>
    <p>
      <a href="tel:{{ user?.telephone }}">
        <i nz-icon nzType="phone"></i>
        {{ user?.telephone || 'N/A' }}
      </a>
    </p>
    <p>
      <a href="mailto:{{ user?.email }}">
        <i nz-icon nzType="mail"></i>
        {{ user?.email || 'N/A' }}
      </a>
    </p>
    <p>
      {{ user?.careerDetails || 'N/A' }}
    </p>
    <nz-tag nzColor="#337357">{{ user?.role | titlecase }}</nz-tag>
  </div>
</nz-card>
<ng-template #coverTemplate>
  <img alt="{{ user?.username }}'s profile image" [src]="profileImageUrl" />
</ng-template>
<ng-template #actionEdit>
  <i *ngIf="isOwner" nz-icon nzType="edit" (click)="onAction('EDIT')"></i>
</ng-template>
<ng-template #actionView>
  <i nz-icon nzType="eye" (click)="onAction('VIEW')"></i>
</ng-template>
<ng-template #actionMore>
  <div *ngIf="isAdmin">
    <i
      nz-icon
      nzType="more"
      nz-dropdown
      [nzDropdownMenu]="menu"
      nzPlacement="topCenter"
    >
    </i>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item (click)="onAction('APPROVE')">Approve</li>
        <li nz-menu-item (click)="onAction('MAKE_ADMIN')">Make admin</li>
      </ul>
    </nz-dropdown-menu>
  </div>
</ng-template>
