nz-card {
  margin: auto;
  width: 280px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-body > * {
  margin-bottom: 3px;
}

.card-body > p {
  font-size: 12px;
}

.card-body i {
  color: #337357;
}
