nz-card {
  margin: auto;
  width: 280px;
  text-align: center;
  box-shadow: 0 2px 2px #bababa;
}

.card-body > * {
  margin-bottom: 3px;
}

.card-body > p {
  font-size: 12px;
}

.card-body i {
  color: #337357;
}
