<div nz-row nzType="flex" nzJustify="space-between" class="top-cards">
  <nz-card nz-col nzXs="24" nzSm="24" nzMd="11" nzLg="12" nzXl="12">
    <div nz-row nzType="flex" nzAlign="top" nzJustify="space-between">
      <div class="m-2" nz-col nzXs="24" nzSm="24" nzMd="11" nzLg="13" nzXl="13">
        <p class="card-title">Top project</p>
        <span class="project-title">Title of project</span><br />
        <div>
          by: username|fullname
          <button nz-button nzType="link">
            <i nz-icon nzType="arrow-right" nzTheme="outline"></i>
          </button>
        </div>
      </div>
      <div class="m-2" nz-col nzXs="24" nzSm="24" nzMd="11" nzLg="9" nzXl="9">
        <p class="card-title">Project price</p>
        <p class="price-text">
          <span>140.00</span>
          <span>GH₵</span>
        </p>
      </div>
    </div>
    <div class="buttons">
      <button nz-button nzType="primary" nzSize="large">View details</button>
      <button nz-button nzType="default" nzSize="large">View owner</button>
    </div>
  </nz-card>
  <nz-card nz-col nzXs="24" nzSm="24" nzMd="11" nzLg="10" nzXl="10">
    <div nz-row nzType="flex" nzAlign="middle" nzJustify="space-between">
      <div class="m-2" nz-col nzXs="24" nzSm="24" nzMd="11" nzLg="15" nzXl="15">
        <p class="card-title">Create your own project</p>
        <p>
          Need help with your project work? At laze we offer a platform to
          access expects and individuals versed in your project topic field.
        </p>
        <button nz-button nzType="default" nzSize="large">
          Create project
        </button>
      </div>
      <div class="m-2" nz-col nzXs="24" nzSm="24" nzMd="11" nzLg="7" nzXl="7">
        <img src="assets/svg/notepad.svg" alt="Video call" width="120" />
      </div>
    </div>
  </nz-card>
</div>
<div class="project-cards" nz-row nzType="flex" nzJustify="space-between">
  <laze-project-card
    nz-col
    *ngFor="let project of allProjects | slice: 0:4"
    [project]="project"
  ></laze-project-card>
</div>
